* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

form {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 15px 15px 33px #bebebe,
        -15px -15px 33px #ffffff;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}